n8n-konusarak-ogren-mail-case.json
{
  "name": "KonusarakOgren - Email Automation",
  "nodes": [
    {
      "parameters": {
        "mode": "everyDay",
        "hour": 10,
        "minute": 0
      },
      "id": "cron-10am",
      "name": "Daily Trigger 10:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1080,
        80
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "authentication": "oAuth2",
        "sheetId": "your_google_sheet_id",
        "range": "Leads!A:D",
        "options": {}
      },
      "id": "gs-fetch-leads",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -840,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\n// Expect header row: Name | Email | Status | LastContact\nconst rows = $json.data || [];\nconst out = [];\nfor (let i = 1; i < rows.length; i++) {\n  const r = rows[i];\n  out.push({\n    json: {\n      Name: r[0] || '',\n      Email: r[1] || '',\n      Status: r[2] || '',\n      LastContact: r[3] || ''\n    }\n  });\n}\nreturn out;\n"
      },
      "id": "fn-normalize",
      "name": "Normalize Leads",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -620,
        80
      ]
    },
    {
      "parameters": {
        "propertyName": "Status",
        "dataType": "string",
        "rules": [
          {
            "operation": "equal",
            "value": "TrialNotPurchased"
          },
          {
            "operation": "equal",
            "value": "FormNoTrial"
          }
        ]
      },
      "id": "switch-status",
      "name": "Segment by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -400,
        80
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "messageType",
              "value": "Day0_TrialNotPurchased"
            }
          ]
        }
      },
      "id": "set-type-trial",
      "name": "Set Type: TrialNotPurchased",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -180,
        -40
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "messageType",
              "value": "Day0_FormNoTrial"
            }
          ]
        }
      },
      "id": "set-type-form",
      "name": "Set Type: FormNoTrial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -180,
        80
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "messageType",
              "value": "Day0_Other"
            }
          ]
        }
      },
      "id": "set-type-default",
      "name": "Set Type: Default",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -180,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst name = $json.Name || '';\nconst email = $json.Email || '';\nconst messageType = $json.messageType || 'Day0_Other';\nconst mid = (Math.random().toString(36).slice(2) + Date.now().toString(36)).slice(0, 16);\nconst host = 'https://your-n8n-host';\nconst targetUrl = 'https://konusarakogren.com/?utm_source=email&utm_medium=automation&utm_campaign=ai-growth';\nconst openPixel = `${host}/webhook/open?mid=${mid}&email=${encodeURIComponent(email)}&type=${encodeURIComponent(messageType)}`;\nconst clickUrl = `${host}/webhook/click?mid=${mid}&email=${encodeURIComponent(email)}&type=${encodeURIComponent(messageType)}&url=${encodeURIComponent(targetUrl)}`;\nreturn { json: { ...$json, trackingId: mid, openPixel, clickUrl } };\n"
      },
      "id": "fn-tracking",
      "name": "Build Tracking URLs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        20,
        80
      ]
    },
    {
      "parameters": {
        "prompt": "=Aşağıdaki bilgilerle Türkçe, kısa (80-120 kelime) ve tek bir CTA içeren HTML e-posta içeriği ve konu üret. Çıktıyı JSON olarak {subject, html} döndür.\n\nSegment: {{$json.messageType}}\nAlıcı Adı: {{$json.Name}}\nTıklama URL'si: {{$json.clickUrl}}\n"
      },
      "id": "ai-generate",
      "name": "AI: Generate Subject & Body",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "[UPDATE ME]"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nlet data = $json;\nif (data.data && typeof data.data === 'object') data = data.data;\nconst subject = data.subject || 'Teklifimiz Hakkında';\nlet html = (data.html || '').replace('{{ $json.clickUrl }}', $json.clickUrl);\nhtml += `<img src=\"${$json.openPixel}\" width=\"1\" height=\"1\" style=\"display:none;\" />`;\nreturn { json: { ...$json, subject, html } };\n"
      },
      "id": "fn-merge",
      "name": "Merge AI + Tracking",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        80
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{$json.Email}}",
        "subject": "={{$json.subject}}",
        "text": "",
        "html": "={{$json.html}}",
        "additionalFields": {}
      },
      "id": "gmail-day0",
      "name": "Send Email - Day 0",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        720,
        80
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your_google_sheet_id",
        "range": "EmailLogs!A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "gs-log-day0",
      "name": "Log Email Day 0",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        960,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 2
      },
      "id": "wait-2d",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        80
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "messageType",
              "value": "Day2_FollowUp"
            }
          ]
        }
      },
      "id": "set-day2",
      "name": "Set Type: Day 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1440,
        30
      ]
    },
    {
      "parameters": {
        "prompt": "=Aşağıdaki bilgilerle Türkçe, 60-100 kelimelik tek CTA içeren HTML e-posta ve konu üret. JSON {subject, html} döndür.\nSegment: {{$json.messageType}}\nAlıcı Adı: {{$json.Name}}\nTıklama URL'si: {{$json.clickUrl}}\n"
      },
      "id": "ai-day2",
      "name": "AI: Day 2 Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1680,
        30
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "[UPDATE ME]"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nlet data = $json;\nif (data.data && typeof data.data === 'object') data = data.data;\nconst subject = data.subject || 'Güncelleme';\nlet html = (data.html || '').replace('{{ $json.clickUrl }}', $json.clickUrl);\nhtml += `<img src=\"${$json.openPixel}\" width=\"1\" height=\"1\" style=\"display:none;\" />`;\nreturn { json: { ...$json, subject, html } };\n"
      },
      "id": "fn-merge-day2",
      "name": "Merge Day 2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1920,
        30
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{$json.Email}}",
        "subject": "={{$json.subject}}",
        "text": "",
        "html": "={{$json.html}}",
        "additionalFields": {}
      },
      "id": "gmail-day2",
      "name": "Send Email - Day 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2160,
        30
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your_google_sheet_id",
        "range": "EmailLogs!A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "gs-log-day2",
      "name": "Log Email Day 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2400,
        30
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 3
      },
      "id": "wait-3d",
      "name": "Wait 3 More Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2640,
        30
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "messageType",
              "value": "Day5_FollowUp"
            }
          ]
        }
      },
      "id": "set-day5",
      "name": "Set Type: Day 5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2880,
        -30
      ]
    },
    {
      "parameters": {
        "prompt": "=Aşağıdaki bilgilerle Türkçe, 50-90 kelimelik tek CTA içeren HTML e-posta ve konu üret. JSON {subject, html} döndür.\nSegment: {{$json.messageType}}\nAlıcı Adı: {{$json.Name}}\nTıklama URL'si: {{$json.clickUrl}}\n"
      },
      "id": "ai-day5",
      "name": "AI: Day 5 Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        3120,
        -30
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "[UPDATE ME]"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nlet data = $json;\nif (data.data && typeof data.data === 'object') data = data.data;\nconst subject = data.subject || 'Son Hatırlatma';\nlet html = (data.html || '').replace('{{ $json.clickUrl }}', $json.clickUrl);\nhtml += `<img src=\"${$json.openPixel}\" width=\"1\" height=\"1\" style=\"display:none;\" />`;\nreturn { json: { ...$json, subject, html } };\n"
      },
      "id": "fn-merge-day5",
      "name": "Merge Day 5",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3360,
        -30
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{$json.Email}}",
        "subject": "={{$json.subject}}",
        "text": "",
        "html": "={{$json.html}}",
        "additionalFields": {}
      },
      "id": "gmail-day5",
      "name": "Send Email - Day 5",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3600,
        -30
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your_google_sheet_id",
        "range": "EmailLogs!A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "gs-log-day5",
      "name": "Log Email Day 5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3840,
        -30
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "open",
        "responseMode": "onReceived"
      },
      "id": "wh-open",
      "name": "Webhook - Open",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -420,
        520
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst q = $json.query || {};\nreturn { json: { ts: new Date().toISOString(), email: q.email || '', trackingId: q.mid || '', messageType: q.type || '' } };\n"
      },
      "id": "fn-open-parse",
      "name": "Parse Open Query",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -180,
        520
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your_google_sheet_id",
        "range": "OpenLogs!A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "gs-open-log",
      "name": "Log Open",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        60,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "GIF89a",
        "responseCode": 200,
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "image/gif"
            }
          ]
        }
      },
      "id": "respond-open",
      "name": "Respond (1x1 gif)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        300,
        520
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "click",
        "responseMode": "onReceived"
      },
      "id": "wh-click",
      "name": "Webhook - Click",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -420,
        780
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst q = $json.query || {};\nreturn { json: { ts: new Date().toISOString(), email: q.email || '', trackingId: q.mid || '', messageType: q.type || '', url: q.url || '' } };\n"
      },
      "id": "fn-click-parse",
      "name": "Parse Click Query",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -180,
        780
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your_google_sheet_id",
        "range": "ClickLogs!A:E",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "gs-click-log",
      "name": "Log Click",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        60,
        780
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "responseCode": 302,
        "responseHeaders": {
          "entries": [
            {
              "name": "Location",
              "value": "={{$json.url}}"
            }
          ]
        }
      },
      "id": "respond-click-redirect",
      "name": "Respond Redirect",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        300,
        780
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "authentication": "oAuth2",
        "sheetId": "your_google_sheet_id",
        "range": "EmailLogs!A:D",
        "options": {}
      },
      "id": "gs-get-emaillogs",
      "name": "Get Email Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -240,
        1160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "authentication": "oAuth2",
        "sheetId": "your_google_sheet_id",
        "range": "ClickLogs!A:E",
        "options": {}
      },
      "id": "gs-get-clicklogs",
      "name": "Get Click Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        200,
        1200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nconst emails = $items('Get Email Logs')[0].json.data || [];\nconst clicks = $items('Get Click Logs')[0].json.data || [];\nconst map = {};\nfor (let i = 1; i < emails.length; i++) {\n  const row = emails[i];\n  const type = row[3] || 'Unknown';\n  map[type] = map[type] || { sent: 0, clicks: 0 };\n  map[type].sent += 1;\n}\nfor (let i = 1; i < clicks.length; i++) {\n  const row = clicks[i];\n  const type = row[3] || 'Unknown';\n  map[type] = map[type] || { sent: 0, clicks: 0 };\n  map[type].clicks += 1;\n}\nconst results = Object.entries(map).map(([message, v]) => ({\n  message, sent: v.sent, clicks: v.clicks,\n  click_rate_percent: v.sent ? ((v.clicks/v.sent)*100).toFixed(2) : '0.00'\n}));\nlet best = null;\nfor (const r of results) if (!best || parseFloat(r.click_rate_percent) > parseFloat(best.click_rate_percent)) best = r;\nreturn results.map(r => ({ json: r })).concat([{ json: { best_message: best?.message || 'N/A', best_rate: best?.click_rate_percent || '0.00' } }]);\n"
      },
      "id": "fn-calc-stats",
      "name": "Calculate Stats (by messageType)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your_google_sheet_id",
        "range": "Report!A:D",
        "options": {}
      },
      "id": "gs-append-report",
      "name": "Append Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        820,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger 10:00": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Normalize Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Leads": {
      "main": [
        [
          {
            "node": "Segment by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment by Status": {
      "main": [
        [
          {
            "node": "Set Type: TrialNotPurchased",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Type: FormNoTrial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Type: Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Type: TrialNotPurchased": {
      "main": [
        [
          {
            "node": "Build Tracking URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Type: FormNoTrial": {
      "main": [
        [
          {
            "node": "Build Tracking URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Type: Default": {
      "main": [
        [
          {
            "node": "Build Tracking URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tracking URLs": {
      "main": [
        [
          {
            "node": "AI: Generate Subject & Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate Subject & Body": {
      "main": [
        [
          {
            "node": "Merge AI + Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI + Tracking": {
      "main": [
        [
          {
            "node": "Send Email - Day 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - Day 0": {
      "main": [
        [
          {
            "node": "Log Email Day 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Day 0": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Set Type: Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Type: Day 2": {
      "main": [
        [
          {
            "node": "AI: Day 2 Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Day 2 Content": {
      "main": [
        [
          {
            "node": "Merge Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Day 2": {
      "main": [
        [
          {
            "node": "Send Email - Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - Day 2": {
      "main": [
        [
          {
            "node": "Log Email Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Day 2": {
      "main": [
        [
          {
            "node": "Wait 3 More Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 More Days": {
      "main": [
        [
          {
            "node": "Set Type: Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Type: Day 5": {
      "main": [
        [
          {
            "node": "AI: Day 5 Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Day 5 Content": {
      "main": [
        [
          {
            "node": "Merge Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Day 5": {
      "main": [
        [
          {
            "node": "Send Email - Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - Day 5": {
      "main": [
        [
          {
            "node": "Log Email Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Open": {
      "main": [
        [
          {
            "node": "Parse Open Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Open Query": {
      "main": [
        [
          {
            "node": "Log Open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Open": {
      "main": [
        [
          {
            "node": "Respond (1x1 gif)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Click": {
      "main": [
        [
          {
            "node": "Parse Click Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Click Query": {
      "main": [
        [
          {
            "node": "Log Click",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Click": {
      "main": [
        [
          {
            "node": "Respond Redirect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Logs": {
      "main": [
        [
          {
            "node": "Calculate Stats (by messageType)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Click Logs": {
      "main": [
        [
          {
            "node": "Calculate Stats (by messageType)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Stats (by messageType)": {
      "main": [
        [
          {
            "node": "Append Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1-2025-10-06-fix",
  "meta": {
    "instanceId": "generated-demo"
  },
  "id": "KonusarakOgrenEmailAutomationFixed",
  "tags": []
}
